.clock-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .clock {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #f0f0f0;
        border-radius: 50%;

        .needle {
            background-color: $primary-color;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 65px;
            width: 3px;
            transform-origin: bottom center;

            .hour {
                transform: translate(-50%, -100%) rotate((30deg));
            }
        }
    }
}


